@import '../../../static/style/theme';
@import '../../../static/style/mixins';

private-search-card {
    @include shadow(0, 0, 6px, -2px, $shadow-color);
    border: solid 1px $border-color;
    display: inline-flex;
    margin: 7px;
    text-align: left;
    text-align-last: left;
    width: 216px;

    .result-image {
        background-image: url(../images/course-card-background.png);
        border: 0;
        border-bottom: solid 1px $border-color;
        height: 147px;
        left: 2%;
        position: relative;
        top: 1%;
        width: 206px;

        &:hover {
            cursor: pointer;
        }
    }

    .fav-image {
        left: 175px;
        position: relative;
        top: -145px;
    }

    .program-card-wrapper {
        @include transition(height, .4s, ease, 0s);
        width: 100%;

        &.detailed {
            @include gradiant-background(0deg, 10%, $secondary-bar-gradient-color-1, 150%, $secondary-bar-gradient-color-2, 0, 1);
            background-clip: border-box;
            color: $control-background;
        }
    }

    .program-card-summary {
        height: 390px;
        position: relative;

        .pri-search-main {
            display: table;
            width: 100%;
        }

        .content {
            padding: 5px 12px 0;

            .course-title {
                @include font-size-in-px($course-title-font-size);
                font-weight: $heavy-font-weight;
                line-height: 1.14em;
                margin-bottom: 11px;
                text-align: left;
            }

            .course-redirect {
                cursor: pointer;
            }

            .expires {
                font-weight: $light-font-weight;
                line-height: 1.2em;
                margin-bottom: 15px;
                text-align: left;
            }

            .version {
                margin-top: 10px;
            }
        }
    }

    .footer {
        bottom: 0;
        padding: 5px 12px 0;
        position: absolute;

        .sub-footer {

            .details {
                @include font-size-in-px($normal-font-size);
                cursor: pointer;
                margin-left: -15px;
                margin-top: 5px;
                min-height: 30px;
                text-align: left;

                &::after {
                    @include show-symbol('b', $control-text, $extra-small-icon-size);
                    line-height: 1.4em;
                    margin-left: 5px;
                    vertical-align: middle;
                }

                &.active::after {
                    content: 'n';
                }
            }
        }
    }

    .row {
        .cell {
            height: 110px;
            padding: 30px;
            vertical-align: middle;

            img {
                background-clip: padding-box;
                border-radius: 50%;
                display: inline-block;
                height: 50px;
                margin-right: 10px;
                overflow: hidden;
                vertical-align: middle;
                width: 50px;
            }

            ul {
                display: inline-block;
                vertical-align: middle;
                width: 300px;
            }

            .catalog-expand {
                margin-top: 15px;
            }
        }
    }

    .program-card-details {
        @include gradiant-background(0deg, 10%, $secondary-bar-gradient-color-2, 120%, $secondary-bar-gradient-color-1, 0, 1);
        @include transition(height, .4s, ease, 0s);
        color: $control-background;
        height: 0;
        left: 2px;
        position: absolute;
        text-align: left;
        width: 90%;

        .separator {
            hr {
                border-top: 1px solid $border-color-separator;
                margin-top: 30px;
            }
        }

        .half-cell {
            cursor: pointer;
            height: 130px;
            margin: 35px 0 0;
        }

        .screen-image {
            background-image: url(../images/course-card-background.png);
            height: 100px;
            width: 100px;

            .screen-image-dimensions {
                height: 100%;
                width: 100%;
            }
        }

        .screen-heading {
            font-size: 1.15em;
            font-weight: 600;
            line-height: 1em;
            padding-bottom: 5px;
        }

        .screen-hover {
            border: 2px solid;
            padding-top: 5px;
        }

        .screen-level-desc {
            font-size: 98%;
            font-weight: 300;
            line-height: 1.2em;
            margin-bottom: 15px;
            text-align: left;
        }
    }
}
