@import '../../../static/style/theme';
@import '../../../static/style/mixins';

toaster-message {

    .toaster {
        border-radius: 4px;
        height: auto;
        padding: 15px;
        position: fixed;
        text-align: center;
        z-index: 1250;

        .close-toaster {
            position: absolute;
            right: 15px;
            top: 15px;

            &::before {
                @include show-symbol('d', $primary-theme-text-on-color-1, $extra-small-icon-size);
            }
        }

        .content {
            width: 90%;
        }
    }

    .toasterdefault {
        bottom: 20px;
        left: auto;
        right: 15px;
        width: 25%;
    }

    .toasterglobalwarning {
        border-radius: 0;
        left: 0;
        min-height: 55px;
        padding-top: 20px;
        right: 15px;
        top: 0;
        width: 100%;
    }

    .info {
        background-color: $info-bg-color;
        // border: 2px solid $info-border-color;
        color: $info-fg-color;
    }

    .warning {
        background-color: $warning-bg-color;
        // border: 2px solid $warning-border-color;
        color: $warning-fg-color;
    }

    .globalwarning {
        background-color: $primary-theme-color-1;
        // border: 2px solid $warning-border-color;
        color: $warning-fg-color;
    }

    .read-more {
        color: $primary-theme-color-2;
        font-size: .7rem;
    }
}
