<footer role="contentinfo">
    <div class="container hidden-xs">
        <div class="layout-0">
            <div class="col">
                <ul>
                    <li>
                        <a href="{{ $ctrl.tnc }}">{{'TERMS_OF_USE' | translate }}</a>
                    </li>
                    <li>
                        <a href="#">{{'PRIVACY_POLICY_NEWS' | translate }}</a>
                    </li>
                    <li>
                        <a href="#">{{'CONTACT' | translate }}</a>
                    </li>
                </ul>
            </div>
            <div class="col align-right">
                <a href="#" class="cta-need-help btn-picto icon">
                    <span>{{'NEED_HELP' | translate }}?</span>
                </a>
            </div>
        </div>
    </div>
</footer>
