<div class="ds">
    <div class="ds-center">
        <div class="ds-inner" style="padding: 0px;"><h3 class="ds-logo"><a href="http://www.3ds.com/"><span
                class="ds-hide">{{'DASSAULT_SYSTEMS' | translate }}</span></a></h3>
            <!-- Sachin: Not required on home page -->
            <!-- 
            <div class="transclude" ng-transclude></div>
            -->
            <div class="ds-right">`
                <div class="ds-compass"><a href="http://www.3ds.com/about-3ds/3dexperience-platform/"></a></div>
                <span class="ds-btn"><span class="ds-hide">{{'TOOLS' | translate }}</span></span>
            </div>
        </div>
    </div>
</div>