@import '../../../static/style/theme';
@import '../../../static/style/mixins';

.custom-page-main-cp {
    @include zone-title-styles();
    text-align: center;

    .custom-page-cell {
        vertical-align: middle;
    }

    .div-btn-style {
        float: right;
        margin: 10px;
        padding: 15px;
    }

    .btn-style {
        margin-left: 15px;
    }

    .input-label {
        @include font-size-in-px($header-font-size);
        color: $label-header-text;
        margin-top: 20px;
        text-align: left;
    }

    .input-box {
        @include font-size-in-px($header-font-size);
        border: 1px solid $card-border-color;
        color: $primary-theme-color-1;
        font-size: 14px;
        height: 25px;
        margin: 7px 0;
    }

    .error-text {
        @include font-size-in-px($extra-small-icon-size);
        color: $error-bg-color;
        display: inline-block;
        line-height: normal;
        text-align: center;
        vertical-align: middle;
    }

    .error-layout {
        background: $error-background;
        height: 20px;
        text-align: center;
    }

    .div-content {
        float: left;
    }
}
