<ds-header> <select ng-options="locale as locale.display for locale in supportedLocales" ng-model="locale"
    ng-change="changeLocale()">
</select> </ds-header>
<main role="main" class="row">
<div class="container">
    <header>
        <div class="cell">
            <div class="col">
                <img src="static/images/companion.png" class="" alt="Companion leader space">
            </div>
            <div class="col"></div>
        </div>
    </header>

    <div class="custom-page-main-cp" search-fn="changePassword()" on-enter-down>
        <div class="title header-0">
            <div class="section-heading">{{ 'CHANGE_PASS' | translate}}</div>
        </div>
        <br />
        <div class="div-content">
            <p class="inputLabel">{{ 'OLD_PASS' | translate}}</p>
            <input type="password" class="input-box" ng-model="oldPassword" autofocus />
            <p class="inputLabel">{{ 'NEW_PASS' | translate}}</p>
            <input type="password" class="input-box" ng-model="newPassword" />
            <p class="inputLabel">{{ 'CONFIRM_PASS' | translate}}</p>
            <input type="password" class="input-box" ng-model="confirmPassword" /><br /> <br />
            <div class="div-btn-style">
                <button class="btn-shout medium btn-style" ng-click="changePassword()">{{ 'SUBMIT' |
                    translate}}</button>
                <button class="btn-shout medium btn-style" ng-click="cancel()">{{ 'CANCEL' | translate}}</button>
            </div>
            <br /> <br />

            <div class="error-layout" ng-show="!flag">
                <span class="error-text">{{errorText | translate}}</span>
            </div>
        </div>
    </div>

</div>
</main>

<cls-footer termsofuse="ds-tnc" class="row"></cls-footer>
