@import '../../../static/style/theme';
@import '../../../static/style/mixins';

my-favorites {
    @include zone-title-styles();
    display: block;
    margin-top: 100px;

    .title {
        background: transparent url(../images/picto-favorite.svg) no-repeat center center;
    }

    .pop-out {
        position: relative;
        top: -90px;
    }

    .scroll {
        height: 500px;
    }

    .popout {
        @include gradiant-background(45deg, 0%, $primary-bar-gradient-color-1, 100%, $primary-bar-gradient-color-2, 0, 1);
        margin-top: 110px;
    }

    .popup {
        position: relative;
        top: -80px;
    }
}
