<div class="title header-0">
    <div class="section-heading">{{ $ctrl.title | html }}</div>
    <div class="info">{{ $ctrl.desc | html }}</div>
    <div class="item-counter" ng-show="$ctrl.isSummary()">({{ $ctrl.totalRenderedFavorites }}/{{ $ctrl.totalCount }})</div>
    <div class="item-counter" ng-show="!$ctrl.isSummary()">({{ $ctrl.totalCount }})</div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="col-md-6"></div>
        <div class="col-md-6">
            <div class="div-sort" ng-show="!$ctrl.isSummary()">
                <label>{{'SORT_BY' | translate }}:</label> <select ng-model="sortVal" ng-change="$ctrl.sortOrderChange(sortVal)"
                                 ng-options="sort.val as sort.key for sort in $ctrl.sortValues"></select>
            </div>
        </div>
    </div>
</div>

<aside ng-attr-style="width: {{ $ctrl.cardContainerWidth }}px;">
    <button type="button" class="btn-shout" ng-show="$ctrl.isSummary()" ng-click="$ctrl.seeAll();">{{'SEE_ALL' | translate }}</button>
</aside>
<div ng-class="{popout: $ctrl.isSummary()}">
    <table ng-class="{popup: $ctrl.isSummary()}" class="card-container" infinite-scroll="{{ !$ctrl.isSummary() }}" on-scroll-end="$ctrl.getMoreCourses()"
                infinite-scroll-skip="$ctrl.isFetchingFavorites" infinite-scroll-offset="100">
            <tr ng-repeat="row in $ctrl.latestCourseRows">
                <td ng-repeat="course in row">
                    <span ng-if="(($index) / $ctrl.cols) / $ctrl.rows < 1">
                        <course-card courseid="{{ course.lObjId }}"
                                     title="{{ course.cT | html }}"
                                     thumbnail="{{ course.thumb | html}}"
                                     percentage="{{ course.perComp }}"
                                     lan="{{ course.lan }}"
                                     fav="{{ course.isFav }}"
                                     version="{{ course.vers[0].nm }}"
                                     duration="{{ course.eTmLft }}"
                                     is-launchable="{{ course.lnchble }}"
                                     remove-fav="$ctrl.removeFavorites(course.lObjId, !course.isFav)"
                                     lmsg="{{course.lnchmsg}}"
                                     cmplsts="{{ course.cmplSts }}">
                        </course-card>
                    </span>
                </td>
            </tr>
    </table>
</div>

<div class="center" ng-if="$ctrl.isNoResultFound">
    <div class="no-result-found-message">{{ 'NO_RESULTS_FAVOURITES' | translate }}</div>
    <div class="no-result-found-tip">{{ 'TIP' | translate }} - {{ 'NO_RESULTS_FAVOURITES_TIP' | translate }}</div>
</div>
<div class="loader" ng-show="$ctrl.isFetchingFavorites">
    <div class="loader-spinner"></div>
</div>
<div class="end-of-result" ng-show="!$ctrl.summary && $ctrl.isEndOfResult && !$ctrl.isNoResultFound">
    <span>{{ 'END_OF_RESULT' | translate }}</span>
</div>

